body {
    font-family: 'Open Sans', 'sans-serif';
    margin: 0px;
    padding: 0px;
}

.submit-button {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 8px;
    border: none;
    outline: none;
    background: #3367d6;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: 20px;
}

.links {
    text-decoration: none;
    color: #fff
}

input,
textarea,
button {
    outline: none;
}

.ipgs {
    border-radius: 5px;
    padding: 8px;
    border: 1px solid #3367d6;
    width: 60px;
    outline: none;
    background: white;
    cursor: pointer;
    transition: 0.5s;
}

.input_n {
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    width: 45%;
    height: 30px;
    display: inline-block;
    padding: 8px;
    margin-top: 20px;
}

.center_stuff {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#content {
    width: 95%;
    height: 95%;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
}

#main {
    height: 100%;
    width: 100%;
}

.ipg {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 8px;
    border: none;
    outline: none;
    background: #3367d6;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: 20px;
}

.ipg0 {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 8px;
    border: none;
    outline: none;
    background: #3367d6;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: 20px;
}

.links:hover {
    border-bottom: 1px solid #e3e3e3;
}