<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <title>Admin Stuff</title>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link href="/static/cssmin/admin.css" rel="stylesheet" />
  </head>

  <body>
    <div>Style Later</div>
    <input class="input_n" id="postit" />
    <button id="go">Go</button>
    <div>
      <div class="main">
        <div>
          <div id="content"></div>
          <div id="json-res" style="text-align:left"></div>
        </div>
      </div>
    </div>
    <script src="/static/jsmin/admin.js"></script>
  </body>
</html>
