<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Request a movie or add a movie</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="/static/cssmin/help.min.css" />
</head>

<body>
    <div>
        <div style="position:fixed;width:100%;top:0;margin-left:auto;margin-right:auto;padding: 8px;overflow: hidden;background: #333;text-align: center">
            <a class=links href='/'>
                <span class='h-link'>Home Page</span>
            </a>
            <a class=links id='all' href=/all>
                <span class='h-link'>All Shows</span>
            </a>
        </div>
    </div>
    <div class=center_stuff style="margin-top:30px;">
        <div id=main>
            <div class=form-dats style=margin-top:40px;>
                <form action="/db-manage/parse-requests/" method="POST">
                    <input class=input_n placeholder="Enter The Series Name" name='movie'>
                    <br>
                    <input class=input_n placeholder="Enter a url if you have or leave it blank" name='url'>
                    <br>
                    <input type='submit' name='submit' style="display:none">
                    <label for='submit'>
                        <button class='submit-button'>Submit</button>
                    </label>
                </form>
            </div>
        </div>
    </div>
</body>

</html>