<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <meta name="og:title" content="Watch TV Series for Free" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <meta name="description" content="Watch Unlimited TV Series For Free on TV Series-get!" />
    <meta name='og:image' content="https://res.cloudinary.com/proxypy/image/upload/v1530529985/social-network-static.jpg" />
    <meta name='og:site_name' content="TV Series-get" />
    <meta name='og:description' content="Watch Unlimited TV Series For Free on TV Series-get!" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="robots" content="index,follow" />
    <title>Watch TV Series on TV Series-get</title>
    <link rel="stylesheet" href="/static/cssmin/index.css">
    <script src='/static/jsmin/data.js'></script>
</head>

<body>
    <div style="position:fixed;width:100%;top:0;margin-left:auto;margin-right:auto;padding: 8px;overflow: hidden;background: #333;text-align: center">
        <a class=links id='all' href=/all> <span class='h-link'>All TV Series</span>
        </a>
    </div>
    <div class=center_stuff style="margin-top: 35px;">
        <div id=content>
            <div id=main>
                <div style="margin:10px">NEW! Add a new show to our databases by yourself
                    <a href='/media/add/'>Here!</a>
                </div>
                <div>
                    <span>{{msg}}</span>
                </div>
                <span>Search for TV Series</span>
                <form action="/search">
                    <input class=input_n style="outline: none" type="text" name="q" id='dynamic_inp'>
                    <input type="submit" id=fr-ui7-2-g11g class=submit-button style="width:10%;display: none" value='Go'>
                    <button class=submit-button onclick="document.forms[0].submit()">Search</button>
                    <div id='inp-results'></div>
                </form>
                <div class=help>
                    <span>Hi there! we are a new website that hopes to provide you with the TV Series you need..you can
                        help us
                        by
                        <a href='/help-us/'>requesting a TV Show or by providing a link to the movie!</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <script src='/static/jsmin/socket.js'></script>
</body>

</html>