<html>

<head>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>Watch TV series</title>
    <meta name="og:title" content="Search for- {{q}} on TV-Series" />
    <meta name='og:site_name' content="Shows-Box" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <meta name='og:description' content="Watch Unlimited series For Free on Show-Box!" />
    <meta name="description" content="Watch Unlimited movies For Free on Show-Box!" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link href="/static/css/movies.min.css" rel="stylesheet">
    <meta id='jinja-data-query' content="{{q}}" />
</head>

<body>
    <div style="position:fixed;width:100%;top:0;margin-left:auto;margin-right:auto;padding: 8px;overflow: hidden;background: #333;text-align: center">
        <a class=links href='/'>
            <span class='h-link'>Home Page</span>
        </a>
        <a class=links id='all' href=/all>
            <span class='h-link'>All movies</span>
        </a>
    </div>
    <div id="main">
        <div class="center_stuff">
            <div class="box-h-fa">
                <div id=searchbox>
                    <form action="/search">
                        <input class=input_n style="outline: none" type="text" name="q">
                        <input type="submit" id=fr-ui7-2-g11g class=submit-button style="width:10%;" value='Go'>
                    </form>
                </div>
                <div id="content">
                    <div id=skelly>
                        <div>
                            <div class=img-skelly></div>
                            <div class=title-skelly></div>
                        </div>
                        <div>
                            <div class=img-skelly></div>
                            <div class=title-skelly></div>
                        </div>
                        <div>
                            <div class=img-skelly></div>
                            <div class=title-skelly></div>
                        </div>
                        <div>
                            <div class=img-skelly></div>
                            <div class=title-skelly></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id=no-res style="display: none;margin-top:50px;">
        <div class=center_stuff>
            <div>
                <span>Sorry We Couldn't Find the resource you requested for,you can create a manual request by going
                    <a href='/help-us'>here</a> and we will add the movie ASAP</span>
                <div id=contentnt>
                    <div id=miannt>
                        <br>
                        <hr>
                        <span>Search for movies</span>
                        <form action="/search">
                            <input class=input_n style="outline: none" type="text" name="q">
                            <input type="submit" id=fr-ui7-__2-g11g class=submit-button style="width:10%;" value='Go'>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% compress 'js' %}
    <script>
        var params = "q=" + encodeURIComponent(document.getElementById('jinja-data-query').getAttribute('content'));
    </script>
    <script src='/static/scripts/movies.js'></script>{% endcompress %}
</body>

</html>