<html>

<head>
    <meta charset="utf-8" />
    <meta content="width=device-width,initial-scale=1.0" name="viewport" />
    <meta content="TV Series,TV Series-get,free TV Series,{{movie.replace(' ',',')|safe}}" name="keywords" />
    <meta content="Watch {{movie}} For Free on TV Series-get!" name="og:description" />
    <meta content="Watch {{movie}} For Free on TV Series-get!" name="description" />
    <meta content="{{og_url|safe}}" name="og:url" />
    <meta content="{{og_image|safe}}" name="og:image" />
    <meta content="Watch {{movie|safe}} on TV Show-Box" name="og:title" />
    <link href="{{og_url|safe}}" rel="canonical" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" />
    <script>
        var movie_id_data = "12_8cs";
    </script>
    <meta content="TV Series-get" name="og:site_name" />
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta content="index,follow" name="robots" />
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <title>Watch {{movie|safe}} on TV Series-get</title>
    <link href="/static/cssmin/player.css" rel="stylesheet" />
    <script src="/static/jsmin/data.js"></script>
</head>

<body>
    <div style="position:fixed;width:100%;top:0;margin-left:auto;margin-right:auto;padding: 8px;overflow: hidden;background: #333;text-align: center">
        <a class="links" href="/">
            <span class="h-link">Home Page</span>
        </a>
        <a class="links" href="/all" id="all"> <span class="h-link">All TV Series</span>
        </a>
    </div>
    <div class="content-box" style="margin-top:35px;">
        <div class="center_stuff">
            <div id="main">
                <form action="/search">
                    <input class="input_n" id="dynamic_inp" name="q" style="outline: none" type="text" />
                    <input class="submit-button" id="fr-ui7-2-g11g" style="width:10%;" type="submit" value="Go" />
                    <div id="inp-results"></div>
                </form>
                <h1>Watch: {{movie}}</h1>
                <h2 id="curr-ep-id"></h2>
                <hr />
                <div id="custom-dl-box" style="display: none">
                    <button class="ipg0" id="custom-dl">Click Here to Use our custom Video Downloader</button>
                    <button class="ipg" id="downloader-info" style="border-radius:5px;">info</button>
                    <div id="hdn-info" style="display: none">We Will download the video from the website or extract the
                        mp4 url for you to watch the video without
                        any ads at all!</div>
                    <div id="buttons-row" style="display: none;margin-bottom: 20px;">
                        <div class="info">Select the site</div>
                        <div class="site-name">These Links are for Episode:
                            <span id="download-episode-name"></span>
                        </div>
                        <a href="#" id="link-s1">
                            <button class="ipg_s" id="dl-s1">source1</button>
                        </a>
                        <a href="#" id="link-s2">
                            <button class="ipg_s" id="dl-s2">source2</button>
                        </a>
                        <a href="#" id="link-s3">
                            <button class="ipg_s" id="dl-s3">source3</button>
                        </a>
                    </div>
                </div>
                <div id="content">
                    <div id="ifr-bx">
                        <iframe id="player-frame" src="" style="width: 100%;height: 500px;"></iframe>
                    </div>
                    <div id="ep_names"></div>
                    <div class="sources">
                        <button class="ipg" id="source1">source1</button>
                        <button class="ipg" id="source2">source2</button>
                        <button class="ipg" id="source3">source3</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="dead-links">
            <a href="#" id="d-linker">
                <button class="ipg_s" style="width: 100%;">Report Dead Links</button>
            </a>
        </div>
        <script>
            var nonce = "{{nonce|safe}}";
            (function () {
                var a = new Blob([
                    "<div style=\"text-align:center;\">Loading Your Video You can click one of the buttons to change the url</div>"
                ], {
                    type: "text/html"
                });
                document.getElementById("player-frame").src = window.URL.createObjectURL(a)
            })();
        </script>
        <script src="/static/jsmin/player.js"></script>
        <script>
            start_player(keys);
        </script>
        <script src="/static/jsmin/socket.js"></script>
    </div>
</body>

</html>