<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Download-{{url}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        span {
            margin: 20px;
            display: block;
        }
    </style>
    <script>
        (() => document.title = decodeURIComponent('{{url}}'))();
    </script>
</head>

<body>
    <div style="margin: auto;text-align: center">
        <span>Select One Of the sites to download the video(both sites only allow 1 video at a time so its better to
            alternate)</span>
        <div id=content></div>
        <div style="margin: 50px">
            Previously Used Site:
            <div id=site_></div>
        </div>
    </div>
    <script>
        "use strict";
        ! function () {
            var e = {
                    "PROXY-PY.HEROKUAPP.COM": {
                        id: "proxy-dl",
                        link: "https://proxy-py.herokuapp.com/api/parse_query?url="
                    },
                    "DL-JS.HEROKUAPP.COM": {
                        id: "dl-js",
                        link: "https://dl-js.herokuapp.com/video/?url="
                    },
                    "PROXY-DL.HEROKUAPP.COM": {
                        id: "proxy-dl",
                        link: "https://proxy-dl.herokuapp.com/video?url="
                    }
                },
                t = Object.keys(e),
                n = !0,
                r = !1,
                o = void 0;
            try {
                for (var d, i = t[Symbol.iterator](); !(n = (d = i.next()).done); n = !0) {
                    var l = d.value,
                        a = document.createElement("div"),
                        p = document.createElement("a");
                    a.style.margin = '5px';
                    a.id = e[l].id;
                    var c = e[l].link + encodeURIComponent("{{url}}");
                    p.href = "/set-downloader/?dl=" + encodeURIComponent(c), a.innerHTML = l, p.appendChild(a),
                        document.getElementById("content").appendChild(p)
                }
            } catch (e) {
                r = !0, o = e
            } finally {
                try {
                    !n && i.return && i.return()
                } finally {
                    if (r) throw o
                }
            }
        }();
        var site = function (e) {
            try {
                var t = new URL(e).hostname;
                document.getElementById("site_").innerHTML = t
            } catch (e) {
                document.getElementById("site_").innerHTML = "None"
            }
        };
        site("{{site}}");
    </script>
</body>

</html>